body
{
    background-color:black;

}
#nav
{
    a
    {
        font-size:20px;
        font-family:cursive;
        color:whitesmoke;
        border:2px solid brown;
        border-radius: 25px;
        text-decoration:none;
        margin:20px;

    }
}
#contact
{
    p
    {
        font-size:14px;
        font-family:cursive;
        color:silver;
        margin:30px;
        padding:25px;

      
    }
    h6
    {
        color:aliceblue;
        font-size:19px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;

    }
    a
    {
        color:goldenrod;
        font-size:18px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-decoration:none;
        margin:30px;
        padding:30px;
    }
}