body
{
    background-image:(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQwtBXMGcTWD_PDfNY4uxt2jQLYoFpELQqLg1OZYPp2vQ&s=10);

}
#navigation
{
    a
    {
        font-size:20px;
        font-family:cursive;
        text-decoration:none;
        margin:10px;
        color:cornsilk;
        border: 2px solid brown;
        border-radius:30px;
        
    }
}
#skills
{
    h3   
    {
        color:aqua;
        font-size:16px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;

    }
    ul
    {
        font-size:15px;
        font-family:Georgia, 'Times New Roman', Times, serif;
        color:cornsilk;
        margin:20px;
        padding:10px;

    }
    

}
}
