body
{
    background-color: black;
}
#navigation
{
    a
    {

       font-size: 20px;
       color:brown;
       text-decoration: none;
       margin:15px;
       border:2px solid goldenrod;
       border-radius:25px;
    }
    padding-top:10px;
    padding-bottom: 25px;
}
#computer
{
    background-color: silver;
    margin:5px;
    position:absolute;
    
}
#Profile
{
    color:cadetblue;
    padding:20px;
    margin-left: 30px;
}
#qualification
{
    font-size:15px;
    font-family:sans-serif;
    color:cornflowerblue;
    margin:20px;
    padding-left: 40px;
}
#basic
{
    font-size:18px;
    font-family:'Times New Roman', Times, serif;
    color:deepskyblue;
    margin:30px;
    padding-top:20px;
    
}
#contact
{
    color:chocolate;
    font-size:16px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top:35px;
    margin:20px;
}
#marquee
{
    background-color:burlywood;
    color:brown;
    font-size:12px;
    margin-top:20px;
}


